body {
    margin: 60px;
    background-image: url(../images/birbbckgrnd.jpg);
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
}

.page-wrapper {
    max-width: 860px;
    overflow: scroll;
}

img {
    max-width: 120px;
    margin: 10px;
}

.main {
    background-color: blanchedalmond;
    max-width: 100%;
    min-height: 500px;

}

.row {
    max-width: 850px;
    margin: 20px;
}

.game-title {
    position: relative;
    margin: 10px 0 10px 50px;
    padding: 40px;
}

.col {
    min-height: 200px;
}
